html,body,a,label,form,input,fieldset,h2,p,div{
		padding:0px;
		margin:0;
	}
	body{
		width:960;
		margin:0 auto;
	}
	input {
		width:400px;
	}
		a{
			display:inline-block;
			background:skyblue;		
			padding: 10px 15px;
			margin : 0 20px;
			text-decoration:none;
			border-radius:5px;
			width:15%;
			text-align:center;
		}
		a:hover{
			-moz-box-shadow: 2px -2px 15px #888888; /* Old Firefox */
			box-shadow: 2px -2px 15px #888888;
			margin-left:18px;
		}
		a:active
		{
			background-color:skyblue
			-moz-box-shadow: none; /* Old Firefox */
			box-shadow: none;
			margin-left:20px;
			color:inherit;
		}
	label, input, form{
		vertical-align:top;
	}
	
	
	#console{
		margin-top:2%;
		background-color:black;
		color:white;
		height:350px;
		overflow:scroll;
		
	}
	