/* File Created: май 7, 2013 */
html,body,div,p
{
    padding:0;
    margin: 0;
    zoom:1;
}


#gameField{
    height:750px;
}
	

.trash-can{
  position:absolute;
  left:55px;
  top:250px;  
  width:256px;
  height:256px;
  background-repeat: no-repeat;
}

.opened
{
    background-image: url('../images/trash_opened.png');
}

.closed
{
    background-image: url('../images/trash_empty.png');
}

.garbage
{
    position:absolute;
}

/**Scoreboard**/

#scoreBoard, .scoreBoard
{
    position:absolute;
    width:150px;
    font-size:20px;
    color:Red;
    top:10%;
    left:45%;
}
	