html,body,a,label,form,input,fieldset,h2,p,div{
	padding:0px;
	margin:0;
}
html > body{
	width:1280px;
	margin:0 auto;
	
}
	body:after{
		display:block;
		content:"";
		height:0px;
		clear:both;
	}
	h2{
		text-align:center;
	}				
	
    fieldset {
	    width: 50%;
        margin: 0 auto;	
    }
		

