html,body,for,ul,li{
margin:0px;
padding:0px;
zoom:1;
}
body{
	width:1280px;
    height:1500px;
	padding:50px 150px;
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
a{
	text-decoration:none;
	font:inherit;
	color:#2D5655;
	display:inline-block;
}
h2{
	font-size:1.6em;
    color : lightgray;
}
    h2 + p {
        color: gray;
    }

h4{
	font-size:1.3em;
	font-weight:bold;
}
a:hover{
	font:inherit;
	color:darkorange;
}

ul>li{
		background-color:skyblue;        
        background: -moz-linear-gradient(-45deg, #f4fbfc 0%, #7db9e8 100%);
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f4fbfc), color-stop(100%,#7db9e8));
        background: -webkit-linear-gradient(-45deg, #f4fbfc 0%,#7db9e8 100%);
        background: -o-linear-gradient(-45deg, #f4fbfc 0%,#7db9e8 100%);
        background: -ms-linear-gradient(-45deg, #f4fbfc 0%,#7db9e8 100%);
        background: linear-gradient(135deg, #f4fbfc 0%,#7db9e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fbfc', endColorstr='#7db9e8',GradientType=1 );
		border-radius:15px;
		width:350px;
		/*min-height:50px;*/
		/*float:left;*/
		position:relative;
		margin: 10px 15px;
		padding:5px 10px;		
		list-style-type:none;
	}	
	
	li>article>ul,li>ul{
		display:none;
		min-width:250px;		
		position:absolute;
		left:100%;
		top:-10px;
	}
	
	/* #last{		
		position:absolute;		
		top:360px;		
	} */
	ul>li:hover>article>ul,ul>li:hover>ul{
		display:block;	
		/*width:250%;*/
	}
	/*ul>li:hover>article>ul>li{
		display:inline-block;		
	}*/

	
	
/* styles for the css images part*/
img{
	width:75%;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
img:hover{
	-webkit-transform: translate(-200px,-50px) scale(2);
    -moz-transform: translate(-200px,0px) scale(2);
    -o-transform: translate(-200px,0px) scale(2);
    -ms-transform: translate(-200px,0px) scale(2);
    transform: translate(-200px,0px) scale(2);
}


article>ul>li>a:nth-of-type(2n){
	display:none;	
}

article>ul>li:hover>a:nth-of-type(2n){
	display:block;
	position:absolute;
	left:100%;
	width:100%;
	top:0px;	
	z-index:5;
	padding-left:10px;	
}

.main_menu>li,.main_sub>li{
	width:250px;
}
