html,body,for,ul,li{
margin:0px;
padding:0px;
zoom:1;
}
body{
	/*width:1024px;*/
	padding:50px 150px;
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
a{
	text-decoration:none;
	font:inherit;
	color:white;
	display:inline-block;
}
h2{
	font-size:1.6em;
}
h4{
	font-size:1.3em;
	font-weight:bold;
}
a:hover{
	font:inherit;
	color:yellow;
}

ul>li{
		background-color:skyblue;
		border-radius:15px;
		width:350px;
		min-height:50px;
		/*float:left;*/
		position:relative;
		margin: 10px 15px;
		padding:5px 10px;		
		list-style-type:none;
	}	
	
	li>article>ul{
		display:none;
		min-width:250px;
		
		position:absolute;
		left:100%;
		top:0px;
	}
	
	/* #last{		
		position:absolute;		
		top:360px;		
	} */
	ul>li:hover>article>ul{
		display:block;	
		/*width:250%;*/
	}
	/*ul>li:hover>article>ul>li{
		display:inline-block;		
	}*/

	
	
/* styles for the css images part*/
img{
	width:75%;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
img:hover{
	-webkit-transform: translate(-200px,-50px) scale(2);
    -moz-transform: translate(-200px,0px) scale(2);
    -o-transform: translate(-200px,0px) scale(2);
    -ms-transform: translate(-200px,0px) scale(2);
    transform: translate(-200px,0px) scale(2);
}


article>ul>li>a:nth-of-type(2n){
	display:none;	
}

article>ul>li:hover>a:nth-of-type(2n){
	display:block;
	position:absolute;
	left:100%;
	width:100%;
	top:0px;	
	z-index:5;
	padding-left:10px;	
}
