html,body,for,ul,li{
margin:0px;
padding:0px;
zoom:1;
}
body{
	width:1280px;
    height:1500px;
	padding:50px 150px;	
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.markdown-body h2{
	color:black;
}

.markdown-body a{
	color:rgb(0,71,133);
}

a{
	text-decoration:none;
	font:inherit;
	color:white;
	display:inline-block;
	target:_blank;
}

h2{
	font-size:1.6em;
    color : lightgray;
}
    h2 + p {
        color: gray;
    }

h4{
	font-size:1.3em;
	font-weight:bold;
}
a:hover{
	font:inherit;
	color:darkorange;
}

ul>li{
		background-color:skyblue;        
        background: -moz-linear-gradient(-45deg, #ACB4BF 0%, #2F3A42 100%);
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ACB4BF), color-stop(100%,#2F3A42));
        background: -webkit-linear-gradient(-45deg, #ACB4BF 0%,#2F3A42 100%);
        background: -o-linear-gradient(-45deg, #ACB4BF 0%,#2F3A42 100%);
        background: -ms-linear-gradient(-45deg, #ACB4BF 0%,#2F3A42 100%);
        background: linear-gradient(135deg, #ACB4BF 0%,#2F3A42 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ACB4BF', endColorstr='#2F3A42',GradientType=1 );
		border-radius:15px;
		width:350px;
		/*min-height:50px;*/
		
		position:relative;
		margin: 10px 15px;
		padding:5px 10px;		
		list-style-type:none;
	}	

#menu>ul>li{
	width:250px;
	float:left;
	color:white;
}
	
	#menu>ul>li>ul{
		position: absolute;
		top : 100%;
		left : -15px;
		display : none;			
	}
		#menu>ul>li>ul>li{
			width:250px;
		}	
	#menu>ul>li:hover>ul{
	display : block;
	}
	
/* styles for the css images part*/
.movable{
	width:75%;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.movable:hover{
	-webkit-transform: translate(-200px,-50px) scale(2);
    -moz-transform: translate(-200px,0px) scale(2);
    -o-transform: translate(-200px,0px) scale(2);
    -ms-transform: translate(-200px,0px) scale(2);
    transform: translate(-200px,0px) scale(2);
}

#menu>ul>li:hover>ul{
display : block;
}
	#menu > p{
		color:#ffffdd
	}
	
	#logo3d{		
		position:fixed;
		left:0px;
		bottom:-10px;
		width:20%%;
	}